article {
  main {
    .information {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto auto auto auto auto auto;
      gap: 1em;
      justify-content: center;
      .nombre {
        font-size: 18px;
      }
      .apellido {
        font-size: 18px;
      }
      .telefono {
        font-size: 18px;
      }
      .correo {
        font-size: 18px;
      }
      .mensaje {
        font-size: 18px;
        input {
          font-size: 18px;
        }
      }
      .checkbox {
        font-size: 18px;
      }
      .submitForm {
        font-size: 18px;
      }
    }
  }
}
