article {
    main {
        .information {
            padding: 1rem;
            display: grid;
            grid-template-rows: auto auto auto auto auto auto;
            gap: 1em;
            justify-content: center;
            .nombre {
                font-size: 22px;
            }
            .apellido {
                font-size: 22px;
            }
            .telefono {
                font-size: 22px;
            }
            .correo {
                font-size: 22px;
            }
            .mensaje {
                font-size: 22px;
                input {
                    font-size: 18px;
                }
            }
            .checkbox {
                font-size: 22px;
            }
            .submitForm {
                font-size: 18px;
            }
        }
    }
}