.presentacion {
  height: 450px;
  width: auto;
  display: grid;
  grid-template-rows: 100%;
  justify-content: center;
  padding-top: 10rem;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-color: #8C5C32;
  .diseños {
    text-align: center;
    font-family: "Abel", sans-serif;
    font-size: 30px;
    color: #ffffff;
  }
}
